
		<div class="leftColumn">
			<div class="logoContainer">
				<img class="homePic" src="images/thinking_cap.png"/>
			</div>

			<div class="subLogoContainer">
				<h2 class="leftSlogan">365</h2>
				<h2 class="leftSlogan">Writing Prompts</h2>
			</div>
		</div>


		<div class="rightColumn">
			
			<h3 class="rightSlogan">CREATE SOMETHING EVERYDAY</h3>

			<!--login form-->
			<div class="auth-forms title">
			  <form>
			  
			    <div class="input-group">
			      <div class="input-group-addon">
			      	<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
			      </div>
			      <input type="email" ng-model="user.email" placeholder="Email" class="form-control" required>
			    </div><br><br>

			    <div class="input-group">
			      <div class="input-group-addon">
			      	<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
			      </div>
			      <input type="password" ng-model="user.password" placeholder="Password" class="form-control" required>
			    </div><br> <br>

			    <input type="submit" value="Login" class="btn btn-info" id="loginButton" ng-click="login(user)">
			    <br><br>
			    <input type="submit" value="Register" class="btn btn-info" id="registerButton" ng-click="register(user)">
			  </form>
			</div>

			<div class="homeQuote">
				<p class="quoteTag"><span class="quotes">"</span>If you can tell stories, create characters, devise incidents, and have sincerity and passion, it doesn’t matter a damn how you write.<span class="quotes">"</span></p>
				<span class="author">– Somerset Maugham</span>
			</div>
		

		</div>








